<h1>Dogs!</h1>
<div class="links">
  <a class="cat-link" href="cats/">Want to look at some cats?</a>
</div>
<div class="search">
  <%= form_tag dogs_path, :method => 'get' do %>
  <%= text_field_tag :name, params[:name] %>
  <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<div class="dog-list">
  <% @dogs.each do |dog| %>
  <div class="dog-individual">
    <a href="dogs/<%=dog.fetch("id")%>"><%= dog.fetch("name") %></a>
    <ul>
      <li><%= dog.fetch("breed") %></li>
      <li><%= dog.fetch("age") %></li>
    </ul>
  </div>

  <% end %>
